.cartItem {
  display: flex;
  margin: 30px auto;
}

.cartItem__info {
  padding-left: 30px;
}

.cartItem__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.cartItem__button {
  width: 50%;
}