.cartItem {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cartItem__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.cartItem__image {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin: 12px auto;
}